audioread==3.1.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
contourpy==1.3.0
cycler==0.12.1
decorator==5.2.1
filelock==3.19.1
fonttools==4.60.2
idna==3.11
importlib_resources==6.5.2
Jinja2==3.1.6
joblib==1.5.3
kiwisolver==1.4.7
lazy_loader==0.4
librosa==0.10.1
llvmlite==0.43.0
MarkupSafe==2.1.5
matplotlib==3.7.2
mpmath==1.3.0
msgpack==1.1.2
networkx==3.2.1
numba==0.60.0
numpy==1.23.5
packaging==25.0
pillow==11.3.0
platformdirs==4.4.0
pooch==1.8.2
pycparser==2.23
pyparsing==3.0.9
python-dateutil==2.9.0.post0
requests==2.32.5
scikit-learn==1.6.1
scipy==1.10.1
six==1.17.0
sounddevice==0.4.6
soundfile==0.13.1
soxr==1.0.0
sympy==1.14.0
threadpoolctl==3.6.0
torch==2.0.1+cpu
torchaudio==2.0.2+cpu
torchvision==0.15.2+cpu
typing_extensions==4.15.0
urllib3==2.6.2
zipp==3.23.0

# ---- Django & REST ----
django==4.2.28
djangorestframework==3.15.2
django-cors-headers==4.7.0

# ---- 工具 ----
python-dotenv==1.1.0
python_speech_features==0.6
